# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
bin/*

# Docs

docs/*
build/*
thirdparty/include/tnt/doxygen
thirdparty/include/tnt/html
thirdparty/src/tinyxml/docs

# Settings

.project
.cproject
.metadata
.settings

